<ion-view title="Admissions">
    
    <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    
    <ion-content class="has-header">
      
        
  
<div class="list card">
	
	<div class="item item-divider">
    <b>Admissions are Open</b>
  </div>
  <div class="item item-divider">
    Domestic and International Students
  </div>

  <a href="http://onlineadmissionregn.srmuniversity.ac.in" class="item item-icon-left">
    <i class="icon ion-chevron-right"></i>
    Apply Now 
  </a>
<a href="http://www.srmuniversity.ac.in/download-brochure.php" class="item item-icon-left">
    <i class="icon ion-ios-copy"></i>
    Prospectus Download
  </a>
  <a href="tel:09729995385" class="item item-icon-left">
    <i class="icon ion-ios-telephone"></i>
    +91-9729995385
  </a>

  <a href="mailto:admissions@srmuniversity.ac.in " class="item item-icon-left">
    <i class="icon ion-email"></i>
    admissions@srmuniversity.ac.in 
  </a>

</div>
