<ion-view title="Settings">
    <ion-content class="has-header">
        
        
        
        <div class="item item-divider">Local Storage</div>
        <div class="list">
            
            <div class="item item-button-right">
            News
            <button class="button" ng-click="resetNewsStorage()">
            Clear
            </button>
            </div>
            
            
            
            <div class="item item-button-right">
            About
            <button class="button" ng-click="resetAboutStorage()">
            Clear
            </button>
            </div>
            
            <div class="item item-button-right">
            Feeds
            <button class="button" ng-click="resetFeedsStorage()">
            Clear
            </button>
            </div>
            
            

        </div>

    </ion-content>
</ion-view>